  <div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
  <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 details-container">
  <h2>Your {{device.version.devicename}}</h2>
  <div class="row">
      <img class="deviceImg" ng-src="{{device.capacity.imgurl}}" alt="">
  </div>

  <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <div class="row center">
              <label id="conditions" class="radioLabel">Condition: </label></br>

              <div class="radio">
                  <label>
                      <input ng-click="showTop()" type="radio" ng-model="optionsRadios" name="conditions" id="new" value="top-notch">
                      Top-notch
                  </label>

                  <label>
                      <input ng-click="showDecent()" type="radio" ng-model="optionsRadios" name="conditions" id="used" value="Decent">
                      Decent
                  </label>

                  <label >
                      <input ng-click="showBusted()" type="radio" ng-model="optionsRadios" name="conditions" id="broken" value="Busted">
                      Busted
                  </label>
              </div>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <div id="topCondition" class="conditionDesc" ng-hide="topCondition">
              <p>Your device is or looks brand-spankin’-new. Choose top-notch if all of the following apply:</p>
              <ul id ="no-bullets">
                  <li>The device appears to be brand new</li>
                  <li>No scratches, dents, scuffs or cracks</li>
                  <li>Works perfectly (all buttons and software work like a dream)</li>
              </ul>
          </div>
          <div class="conditionDesc" ng-hide="decentCondition">
              <p>Your phone or tablet has been used, but it’s in pretty brag-worthy condition (if you do say so yourself). Choose decent if all of the following apply:</p>
              <ul id ="no-bullets">
                  <li>Some light scratches or scuffs, but nothing significant</li>
                  <li>No cracks or dents</li>
                  <li>Fully functional (no broken buttons or buggy software)</li>
              </ul>
          </div>
          <div class="conditionDesc" ng-hide="bustedCondition">
              <p>You live your life, and it really shows in the state of your phone. Choose busted if ANY of the following apply:</p>
              <ul id ="no-bullets">
                  <li>Some light scratches or scuffs, but nothing significant</li>
                  <li>No cracks or dents</li>
                  <li>Fully functional (no broken buttons or buggy software)</li>
              </ul>
          </div>
      </div>
      </div>
  <div class="row">
      <div class="col-sm-3"></div>
      <div class="col-sm-6">
          <div class="row center">
              <label class="radioLabel">Carrier: </label></br>

              <div class="radio">
                  <label class="active">
                      <input type="radio" ng-model="carrierModel" id="Verizon" value="Verizon">
                      Verizon
                  </label>

                  <label>
                      <input type="radio" ng-model="carrierModel" id="AT&T" value="AT&T">
                      AT&T
                  </label>

                  <label>
                      <input type="radio" ng-model="carrierModel" id="T Mobile" value="T Mobile">
                      T Mobile
                  </label>
                  <label>
                      <input type="radio" ng-model="carrierModel" id="Sprint" value="Sprint">
                      Sprint
                  </label>
                  <label>
                      <input type="radio" ng-model="carrierModel" id="Other Carrier" value="Other Carrier">
                      Other Carrier
                  </label>
                  <label>
                      <input type="radio" ng-model="carrierModel" id="Unlocked" value="Unlocked">
                      Unlocked
                  </label>
              </div>
          </div>
      </div>

  </div>
  <div class="row">
      <button class="btn btn-primary" id="getQuote" ng-click="openModal()">Get Quote</button>
  </div>

  <div class="row">
      <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                      <h4 class="modal-title quoteTitle" id="myModalLabel">Congratulations! Your {{device.version.devicename}} is worth {{customQuote | currency}}!</h4>
                  </div>
                  <div class="modal-body">
                          <p>Brand: {{currentBrand}}</p>
                          <p>Model: {{currentModel}}</p>
                          <p>Capacity: {{currentCapacity}}</p>
                          <p>Condition: {{condition}}</p>
                          <p>Carrier: {{carrier}}</p>
                      <h3 class="locked">Please select how you would like to be paid!</h3>

                      <label class="radio-inline">
                          <input name="radioGroup" id="paypal" value="option1" type="radio">PayPal
                      </label>
                      <label class="radio-inline">
                          <input name="radioGroup" id="check" value="option2" type="radio" checked>Check
                      </label>
                      <label class="radio-inline">
                          <input name="radioGroup" id="ach" value="option2" type="radio">ACH
                      </label>
                      <h3 class="locked">When you get your shipping label, mail us your device.</h3>

                  </div>
                  <div class="modal-footer">
                      <button ng-if="!quoteAllowed" type="button" class="btn btn-success" data-dismiss="modal" ng-click="registerWithQuote()">Register</button>
                      <button ng-if="quoteAllowed" type="button" class="btn btn-success" data-dismiss="modal" ng-click="addTransaction(user.transaction)">Get paid!</button>
                      <button type="button" class="btn btn-danger" ng-click="cancelTransaction()">Maybe Later</button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<div class="col-xs-12 col-sm-12 col-md-2 col-lg-2"></div>
