<div class="container">
	<div class="row actionCallRow" id="testimonialHeader">
		<h1>Testimonials</h1>
		<h3>See what our customers love about us!</h3>
	</div>

	<div class="row testimonialsRow">
		<div class="col-xs-6">
			<img class="customerImg" src="http://suplugins.com/podium/images/placeholder-04.png" alt="">
		</div>
		<div class="col-xs-6">
			<img src="images/speechBubble.png" alt="">

		</div>
	</div>

	<div class="row testimonialsRow">
		<h2><i class="fa fa-comments-o" aria-hidden="true"></i> Submit Feedback</h2>
		<h4>Sometimes, our customers can just explain it better than we can. Share your TechNation.net story!</h4>
		<form ng-submit="sendRequest(testimonial)">
			<label class="top" for="name">Name:</label></br>
			<input type="text" ng-model="testimonial.name" placeholder="name" required="true"></br>
			<label class="top" for="name">Email:</label></br>
			<input type="email" ng-model="testimonial.email" placeholder="email" required="true"></br>
			<label class="top" for="name">How was your experience?</label></br>
		<textarea cols="45" rows="10" ng-model="testimonial.content" placeholder="tell us about your experience" required="true"></textarea></br>
			<input type="submit" value="Send"/>
		</form>


	</div>


</div>
